@{
    Page.Title = "DB Multi Record Query";
    Layout = "~/_Layout.cshtml";

    // database processing to obtain data for select control

    //connection
    var db = Database.Open("NorthwindDB");

    //command
    // this query wants to return data needed for the select control, normally 2 values, one for hidden value, one for text display
    var querycommand = "SELECT CategoryID, CategoryName "
                        + "FROM Categories "
                        + "ORDER BY CategoryName";

    //execution
    // one expects 0, 1 or more records to be returned from the database
    // this means .Query() method is used
    // there is no list of parameters for this execution
    var selectresults = db.Query(querycommand);

}

@section head
{
    <!-- put in a link to a custom .css file-->
    <link href="~/Content/MyCSS.css" rel="stylesheet" />
}
<div>
    @section banner
{
        <h1>DB Query: Multiple Record Query</h1>
    }

    @if(IsPost)
    {
        // procesing of the submit button
        // retreive the selected value fomr thr ddl
        // the value is the hidden value on the option tag
        var categoryid = Request.Form["CategoryList"];

        // did the user actually select a category
        // prompt line value is 0
        if(categoryid.Equals("0"))
        {
            <p><span style="color:firebrick">You did not select a category. Try again.</span></p>
        }
        else
        {
            // let us chace to see if there are any products for the selected category
            // query to check the products table for the selected category
            querycommand = "SELECT ProductID "
                            + "FROM Products "
                            + "WHERE CategoryID = @0";

            //Execution: use Query()
            var productresults = db.Query(querycommand, categoryid);

            // check to see if any records have been returned
            //QuerySingle uses == null
            //Query uses .Count == 0
            if (productresults.Count() == 0)
            {
                <p><span style="color:firebrick">There are no products for the category. @categoryid</span></p>
            }
            else
            {
                // go to another page passing a data value to the new page
                // Response.Redirect(pagename) this is without a parater passing

                // for parameter passing, new syntax: 
                // Reponse.Redirect("pagename?parameter&parameter&...")
                // ? parameters to follow
                // parameter syntax: indentifierLabel=theValue
                // & separates multiple parameters

                // parameter information is passed on the URL in plain text
                Response.Redirect("WebQuery.cshtml?cid=" + categoryid);
            }
        }
    }
    <form id="theForm" action="" method="post">
        <div class="row">
            <div class="col-md-offset-5">
                <label id="CategoryList">Select a category:&nbsp;</label>
                <select name="CategoryList" id="CategoryList">
                    <option value="0">select...</option>
                    @foreach(var item in selectresults)
                    {
                        // access each item in the given collection one at a time
                        // foreach manages entering, movement, and exit of the collection
                        // each item will hold 2 values
                        // access to item data can be by 
                        //  a)index technique ([n] where n starts at 0) and represents a column on the item row
                        //  b)property name (Sql Title column name) you can use either or both
                        <option value="@item[0]">@item.CategoryName</option>
                    }
                </select>
                <br />
                <button type="submit" name="formButton" value="submit" class="btn btn-primary">Search Products</button>

            </div>
        </div>
    </form>



    @section footer
{
        <p>
            &copy; CPSC1517, Nait Today's date is
            @DateTime.Today.ToLongDateString().
        </p>}
</div>
