@{
    Page.Title = "Home";
    Layout = "~/_Layout.cshtml";
}

@section banner
{
    <h1>CPSC1517 Home</h1>
    }
<div>
    <p>
        all code <strong>not in a Section</strong> is default context of the body and will
        appear in the body tag.
    </p>
    <br/><br/>
    <a href="~/ContentPage.cshtml">Basic Controls</a>
</div>
@section footer
{
    <p>
        &copy; CPSC1517, Nait All rights reserved to CPSC1517 students for eductional purposes.
    </p>}